body {
    display: flex;
    justify-content: center;
    margin: 0px;
}

.container {
    width: 90vw;
    margin-top: 50px;
    background-color: purple;
    padding: 20px;
    border-radius: 15px;
}

.main{
    margin: 0px;
    width: 100%;
}

.main > :nth-child(even){
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    background-color: pink;
    padding: 10px;
    gap: 40px;
    border-radius: 10px;
    color: purple;
}

.main > :nth-child(odd){
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 10px;
    border-radius: 10px;
    color: whitesmoke;
    gap: 40px;
}

header {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: whitesmoke;
}

.info {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bolder;
    margin-top: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: pink;
    padding: 10px;
    gap: 40px;
    border-radius: 10px;
    color: purple;
}

.info > div {
    display: flex;
    align-items: center;
}

ol {
    padding: 0px;
}

li{
    justify-self: center;
    align-self: center;
}

.director{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

.director > div {
    display: flex;
    align-items: center;
}

button {
    align-self: center;
    justify-self: flex-start;
    height: 21px;
}

#filters {
    display: flex;
    margin-top: 10px;
}

#filter-credits {
    margin-left: 20px;
}

#filter-status {
    margin-left: 20px;
}

#show-all {
    margin-left: 20px;
}