:root{
    --WBG: teal;
    --DS: rgb(0, 97, 97);
    --WBC: goldenrod;
    --BG: gainsboro;
    --BC: gold;
}

body{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
    margin: 26px;
    padding: 25px;
    border: solid var(--WBC) 5px;
    border-radius: 30px;
    background-color: var(--WBG);
}

#form_contain {
    display: flex;
    filter: drop-shadow(5px 5px 3px var(--DS));
}

form {
    background-color: var(--BG);
    padding: 6px;
    border-radius: 6px;
    border: solid var(--BC) 2px;
    font-size: larger;
}

#container {
    margin-top: 15px;
    padding: 6px;
    border-radius: 6px;
    border: solid var(--BC) 2px;
    background-color: var(--BG);
    filter: drop-shadow(5px 5px 3px var(--DS));
}

header {
    font-size: x-large;
    font-weight: bold;
}
#head_wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#course {
    display: flex;
}